Self-assessment: I felt more confident with this week's exercises and was able to figure things out without too much difficulty. I struggled a bit with 8.13 at first but used the `sub` function which helped. In addition, I think my code for 8.3 could have been greatly simplified as well but I'm not so sure how yet.

# 7.23 Panda: DataFrames

In [32]:
import pandas as pd # We import the pandas library first here so we can use its functions and capabilities below

In [33]:
# Part (a)
temperature_dict = {'Maxine': [98.6, 98.4, 98.8], 
                    'James': [97.8, 98.1, 98.5], 
                    'Amanda': [99.1, 100.2, 99.3]} # Create the initial dictionary of three temperature readings

temperatures = pd.DataFrame(temperature_dict) # Creates the DataFrame from our dictionary of temperatures
temperatures

   Maxine  James  Amanda
0    98.6   97.8    99.1
1    98.4   98.1   100.2
2    98.8   98.5    99.3

In [34]:
# Part (b)
temperatures.index = ['Morning', 'Afternoon', 'Evening'] # Recreate the DataFrame with custom indice labels
temperatures

           Maxine  James  Amanda
Morning      98.6   97.8    99.1
Afternoon    98.4   98.1   100.2
Evening      98.8   98.5    99.3

In [35]:
# Part (c)
temperatures['Maxine'] # Column of temperature readings for Maxine

Morning      98.6
Afternoon    98.4
Evening      98.8
Name: Maxine, dtype: float64

In [36]:
# Part (d)
temperatures.loc['Morning'] # Shows only morning temperatures for each person

Maxine    98.6
James     97.8
Amanda    99.1
Name: Morning, dtype: float64

In [37]:
# Part (e)
temperatures.loc[['Morning', 'Evening']] # Shows only morning and evening temperatures for each person

         Maxine  James  Amanda
Morning    98.6   97.8    99.1
Evening    98.8   98.5    99.3

In [44]:
# Part (f)
temperatures.loc['Morning':'Evening', ['Maxine', 'Amanda']] # Shows all temperatures for only Maxine and Amanda

           Maxine  Amanda
Morning      98.6    99.1
Afternoon    98.4   100.2
Evening      98.8    99.3

In [46]:
# Part (g)
temperatures.loc[['Morning','Afternoon'], ['Maxine', 'Amanda']] # Shows only morning and afternoon temperatures for Maxine and Amanda

           Maxine  Amanda
Morning      98.6    99.1
Afternoon    98.4   100.2

In [47]:
# Part (h)
temperatures.describe() # Produces temperatures' descriptive statistics

       Maxine      James      Amanda
count     3.0   3.000000    3.000000
mean     98.6  98.133333   99.533333
std       0.2   0.351188    0.585947
min      98.4  97.800000   99.100000
25%      98.5  97.950000   99.200000
50%      98.6  98.100000   99.300000
75%      98.7  98.300000   99.750000
max      98.8  98.500000  100.200000

In [48]:
# Part (i)
temperatures.T # Transpose the temperatures table

        Morning  Afternoon  Evening
Maxine     98.6       98.4     98.8
James      97.8       98.1     98.5
Amanda     99.1      100.2     99.3

In [49]:
# Part (j)
temperatures.sort_index(axis=1) # Sorts the table alphabetically by column indices

           Amanda  James  Maxine
Morning      99.1   97.8    98.6
Afternoon   100.2   98.1    98.4
Evening      99.3   98.5    98.8

# 8.3 Pig Latin

Below, we are creating a function that will encode English-language phrases into pig Latin. First, we will ask the user to input an English sentence under a set of assumptions (such as words being separated by blanks, no punctuation marks, and two or more letters per word). Then we will convert this sentence into a list of words that we can work with. Using string concatenation, we can either add just an '-ay' to the end of the word if it starts with a vowel or use conventional pig Latin standards to transform the word otherwise. At the end, we return a fully converted English sentence into pig Latin.

In [92]:
def pig_latin(english_phrase = str(input('Enter a sentence: '))):
    """Receive an English sentence and convert it to pig Latin."""
    list_of_words = english_phrase.split() # Split the sentence into a list of individual words
    lower_list_of_words = [word.lower() for word in list_of_words] # Make each character the same case so it's easier to work with
    translated_list = [] # Create an empty list where we will enter the translated English words into Pig Latin below
    for word in lower_list_of_words:
        if word.startswith('a') or word.startswith('e') or word.startswith('i') or word.startswith('o') or word.startswith('u'): # This will just add an 'ay' to the end of the word if it starts with a vowel
            translated_list += [word + 'ay']
        else:
            translated_list += [word[1:] + word[0] + 'ay'] # Regular pig latin conventions for non-vowel starting words
    return ' '.join(translated_list)

pig_latin()

Enter a sentence: Hello my name is Andrew Wang

'ellohay ymay amenay isay andreway angway'

# 8.8 Converting Integers to Emojis

Below, I've selected some emojis I like using `c` presentation.

In [90]:
f'{0x1F601:c} {0x1F643:c} {0x1F911:c} {0x1F910:c} {0x1F634:c} {0x1F92F:c} {0x1F62D:c} {0x1F480:c} {0x1F4AF:c} {0x1F44C:c}'

'😁 🙃 🤑 🤐 😴 🤯 😭 💀 💯 👌'

# 8.13 Regular Expressions: Condense Spaces to a Single Space

For this function, we're checking whether a sentence contains more than one space between words. To do so, I first did a `strip` of the function to eliminate any whitespaces at the front and end of the sentence if there was any. Then, I used the `re.sub` expression to eliminate any extra whitespaces between the words in the sentence. Finally, I'm letting the user know if the sentence had the correct number of spaces by comparing it to the original sentence inputted. If there were no changes made, it's correct. If there were changes to the original, I let them know it was incorrect and displayed the new correct version of the sentence.

In [91]:
import re # import the Python Library 're' to use regular expressions

In [134]:
def condense_space(sentence):
    """Check whether a sentence contains more than one space between words."""
    stripped_sentence = sentence.strip() # Strip whitespace at the beginning of the sentence first
    new_sentence = re.sub(r'\s+', ' ', stripped_sentence) # Strip any extra whitespace between the words in the sentence
    if new_sentence == sentence: # Compare new sentence to original to see if it was correct initially
        print('Your sentence contains the right number of spaces.')
    else:
        print('Your sentence contains too many spaces.')
        print('Here is the correct version:', new_sentence)

Below are two instances where I've called the function, first with a correct sentence and then with an incorrect sentence.

In [132]:
phrase1 = 'Hello world I am Andrew'
condense_space(phrase1)

Your sentence contains the right number of spaces.

In [133]:
phrase2 = 'Hello     world'
condense_space(phrase2)

Your sentence contains too many spaces.
Here is the correct version: Hello world