# 3.10 7% Investment Return

In [1]:
principal_value = 1000
rate_of_return = .07
year_counter = 0

for year in range(1, 31):
    total_money = (principal_value) * (1 + rate_of_return) ** (year)
    year_counter += 1
    print(f'Money after year {year_counter}: ${total_money:.2f}')

Money after year 1: $1070.00
Money after year 2: $1144.90
Money after year 3: $1225.04
Money after year 4: $1310.80
Money after year 5: $1402.55
Money after year 6: $1500.73
Money after year 7: $1605.78
Money after year 8: $1718.19
Money after year 9: $1838.46
Money after year 10: $1967.15
Money after year 11: $2104.85
Money after year 12: $2252.19
Money after year 13: $2409.85
Money after year 14: $2578.53
Money after year 15: $2759.03
Money after year 16: $2952.16
Money after year 17: $3158.82
Money after year 18: $3379.93
Money after year 19: $3616.53
Money after year 20: $3869.68
Money after year 21: $4140.56
Money after year 22: $4430.40
Money after year 23: $4740.53
Money after year 24: $5072.37
Money after year 25: $5427.43
Money after year 26: $5807.35
Money after year 27: $6213.87
Money after year 28: $6648.84
Money after year 29: $7114.26
Money after year 30: $7612.26

# 3.13 Factorials

In [2]:
nonnegative_integer = int(input('Enter a nonnegative integer: '))
factorial = 1

for number in range(nonnegative_integer, 0, -1):
    factorial *= (number)
    
print('Here is the factorial:', factorial)

Enter a nonnegative integer: 50
Here is the factorial: 30414093201713378043612608166064768844377641568960512000000000000

I tried my script with the value of 50 and found that it still worked. So I haven't found any integer inputs that couldn't produce an integer factorial value.

# 3.31 Data Science: Categorical Data

When it comes to categorical data, the most appropriate summary statistics seem to be for counts and percentages. For example, if you have a mix of dogs of different breeds like Boxer, Poodle, or Beagle, you can count the number of Boxers or Beagles and then find a percentage relative to total dogs based on that number.
<br> 
<br>
Because of this, I believe mode may be useful here as a descriptive statistic since this could tell you which one of your categorical variables appears most frequently which could be significant to note.

# 3.17 Nested Loops

In [48]:
# (a) Pattern 1
for count_1 in range(1, 11):
    for count_2 in range(1, count_1 + 1):
        print('*', end=' ')
    print()

print()    

# (b) Pattern 2
for count_1 in range(1, 11):
    for count_2 in range(11, count_1, -1):
        print('*', end=' ')
    print()

print()

# (c) Pattern 3
for count in range(0, 10):
    print('  ' * count, '* ' * (10 - count), sep='')
    
print()

# (d) Pattern 4
for count in range(0, 11):
    print('  ' * (10 - count), '* ' * (count), sep='')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *


                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

# 3.26 Data Science Research: Anscombe's Quartet

A very interesting read! It definitely illustrates the importance of looking at your data graphically before trying to fit any type of regression model or relationship to it. And it also lets you understand the importance of not just simply looking at descriptive statistics to understand data.

# 3.24 Project: Using the prospector Static Code Analysis Tool

Below is what was in the output when I ran the command from the textbook:

         Started: 2021-09-10 01:13:01.145326
        Finished: 2021-09-10 01:13:01.436508
      Time Taken: 0.29 seconds
       Formatter: grouped
        Profiles: default, doc_warnings, strictness_veryhigh, no_doc_warnings, no_test_warnings, no_member_warnings
      Strictness: veryhigh
  Libraries Used:
       Tools Run: dodgy, mccabe, pep257, pep8, profile-validator, pyflakes, pylint
  Messages Found: 0